.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    min-height: calc(100vh - 177px);
    display: flex;
    align-items: center;
  }

  &__title {
    max-width: 600px;
    font-size: 60px;
    color: $purple;
    text-shadow: 5px 6px 3px #000;
  }
}