<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contacts">
        <h2 class="footer__title title">
          контакты
        </h2>

        <address class="footer__address">
          <p>
            Работаем ежедневно с 10.00 до 22.00
          </p>

          <p>
            <span class="footer__text">Адрес:</span>
            ул. Морских Пехотинцев, 13А
          </p>

          <a class="footer__phone animation-icon" href="tel:+79669172670"><span class="footer__text">Телефон: </span>8
            (996)
            917-26-70
          </a>

          <ul class="social">
            <li class="social__item">
              <a class="social__link animation-icon" href="https://instagram.com/just_sky_vld" target="_blank"
                style="background-image: url(images/social/instagram.svg);">
                <span class="sr-only">наша инстаграм страница</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link animation-icon" href="https://vk.com/just_sky_vld" target="_blank"
                style="background-image: url(images/social/vk.svg);">
                <span class="sr-only">наша группа в ВК</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link animation-icon" href="https://www.tiktok.com/@just_sky_vld" target="_blank"
                style="background-image: url(images/social/tiktok.svg);">
                <span class="sr-only">наш тикток</span>
              </a>
            </li>
          </ul>
        </address>
      </div>

      <div class="map" id="map">

      </div>
    </div>
  </div>
</footer>