<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <address class="header__top">
        <div class="address">
          <span class="address__info address__info--time">
            10:00-22:00
          </span>

          <a class="address__info address__info--address animation-icon" href="#footer">
            ул. Морских Пехотинцев, 13А
          </a>

          <a class="address__info address__info--phone animation-icon" href="tel:+79669172670">
            8 (996) 917-26-70
          </a>
        </div>

        <ul class="social social--header">
          <li class="social__item">
            <a class="social__link animation-icon" href="https://instagram.com/just_sky_vld" target="_blank"
              style="background-image: url(images/social/instagram.svg);">
              <span class="sr-only">наша инстаграм страница</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link animation-icon" href="https://vk.com/just_sky_vld" target="_blank"
              style="background-image: url(images/social/vk.svg);">
              <span class="sr-only">наша группа в ВК</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link animation-icon" href="https://www.tiktok.com/@just_sky_vld" target="_blank"
              style="background-image: url(images/social/tiktok.svg);">
              <span class="sr-only">наш тикток</span>
            </a>
          </li>
					<li class="social__item">
            <a class="social__link animation-icon" href="https://www.youtube.com/channel/UC7rInjy5d0ZuPov6aKr3LrQ/featured" target="_blank"
              style="background-image: url(images/social/youtube.svg);">
              <span class="sr-only">наш youtube</span>
            </a>
          </li>
        </ul>
      </address>

      <div class="header__bottom">
        <button class="burger animation-icon" type="button">
          <span class="burger__line"></span>
          <span class="sr-only">кнопка меню</span>
        </button>

        <a class="logo" href="index.html">
          <img class="logo__img" src="images/logo/logo.png" alt="логотип just sky">
        </a>

        <ul class="header__list">
          <li class="header__item">
            <a class="header__link animation" href="price.html">
              стоимость
            </a>
          </li>

          <li class="header__item">
            <a class="header__link animation" href="#">
              галерея
            </a>
          </li>

          <li class="header__item">
            <a class="header__link animation" href="index.html#we-have">
              что у нас есть
            </a>
          </li>

          <li class="header__item">
            <a class="header__link animation" href="rules.html">
              правила
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>