<div class="mobile-menu">
  <div class="mobile-menu__header">
    <a class="logo" href="index.html">
      <img class="mobile-menu__logo logo__img" src="../../images/logo/logo-mobile.png" alt="just sky">
    </a>
    <button class="close close--menu animation-icon animation-icon--close" type="button"></button>
  </div>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link animation" href="../../price.html">
        стоимость
      </a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link animation" href="#">
        мероприятия
      </a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link animation" href="#">
        галерея
      </a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link animation" href="index.html#we-have">
        что у нас есть
      </a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link animation" href="#">
        правила
      </a>
    </li>
  </ul>

  <ul class="social social--mobile">
    <li class="social__item">
      <a class="social__link animation-icon" href="https://instagram.com/just_sky_vld" target="_blank"
        style="background-image: url(images/social/instagram.svg);">
        <span class="sr-only">наша инстаграм страница</span>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link animation-icon" href="https://vk.com/just_sky_vld" target="_blank"
        style="background-image: url(images/social/vk.svg);">
        <span class="sr-only">наша группа в ВК</span>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link animation-icon" href="https://www.tiktok.com/@just_sky_vld" target="_blank"
        style="background-image: url(images/social/tiktok.svg);">
        <span class="sr-only">наш тикток</span>
      </a>
    </li>
  </ul>

  <div class="address address--mobile">
    <span class="address__info address__info--time address__info--mobile">
      10:00-22:00 ежедневно
    </span>

    <a class="address__info address__info--address address__info--mobile animation-icon" href="#footer">
      ул. Морских Пехотинцев, 13А
    </a>

    <a class="address__info address__info--phone address__info--mobile animation-icon" href="tel:+79669172670">
      8 (996) 917-26-70
    </a>
  </div>
</div>