<section class="our-prices">
  <div class="container">
    <div class="our-prices__inner">
      <h2 class="our-prices__title title">
        price list
      </h2>

      <ul class="our-prices__list">
        <li class="our-prices__item">
          <span class="our-prices__text">
            30 минут
          </span>
          <span class="our-prices__price">
            200₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            1 час
          </span>
          <span class="our-prices__price">
            300₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            безлимит
          </span>
          <span class="our-prices__price">
            700₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            персональная тренировка
          </span>
          <span class="our-prices__price">
            500₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            абонемент на свободной посещение
          </span>
          <span class="our-prices__price">
            2500₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            абонемент с тренером
          </span>
          <span class="our-prices__price">
            3000₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            аренда зала на 1 час
          </span>
          <span class="our-prices__price">
            4000₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            аренда зала на 2 часа
          </span>
          <span class="our-prices__price">
            6000₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            аренда зала на всю ночь (22:00-10:00)
          </span>
          <span class="our-prices__price">
            5000₽
          </span>
        </li>
        <li class="our-prices__item">
          <span class="our-prices__text">
            аренда зала на весь день
          </span>
          <span class="our-prices__price">
            15000₽
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>