<section class="rules">
  <div class="container">
    <div class="rules__inner">
      <h1 class="rules__title title">
        Правила:
      </h1>
      <ul class="rules__list">
        <li class="rules__item">
          <p class="rules__rule">
            Один человек - один батут
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__rule">
            Заднее сальто и спинной назад в поролоновую яму прыгать запрещено , лицом вперёд , переднее сальто и кувырки
            можно
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__rule">
            Бегать , бороться на батутной арене запрещено
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__rule">
            Проносить еду и напитки в батутную зону запрещено
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__rule">
            Без носков прыгать запрещено ( Можно прыгать в любых носках )
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__rule">
            На тумбах (2,3,4 метра) ограничение <span class="rules__18"></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>