<section class="we-have" id="we-have">
  <div class="container">
    <div class="we-have__inner">
      <h2 class="we-have__title title">
        что у нас есть
      </h2>
      <ul class="we-have__list">
        <li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="images/we-have/1.jpg" alt="батуты">
          </div>
          <p>спортивные батуты и батуты для начинающих</p>
        </li>
        <li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="images/we-have/2.jpg" alt="большой батут">
          </div>
          <p>большой батут 5x5 метров</p>
        </li>
        <li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="images/we-have/3.jpg" alt="спортивные секции">
          </div>
          <p>спортивные секции для детей и взрослых</p>
        </li>
				<li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="images/we-have/5.jpg" alt="поролоновая яма">
          </div>
          <p>огромная поролоновая яма для безопасных приземлений</p>
        </li>
        <li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="https://dummyimage.com/600x400/000/fff&text=playstation+4" alt="playstation 4">
          </div>
          <p>playstation 4</p>
        </li>
				<li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="https://dummyimage.com/600x400/000/fff&text=теннисный+стол" alt="теннисный стол">
          </div>
          <p>теннисный стол</p>
        </li>
				<li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="https://dummyimage.com/600x400/000/fff&text=настольные+игры" alt="настольные игры">
          </div>
          <p>настольные игры</p>
        </li>
        <li class="we-have__item">
          <div class="we-have__box">
            <img class="we-have__img" src="images/we-have/6.jpg" alt="мероприятия и праздники">
          </div>
          <p>организация мероприятий и праздников</p>
        </li>
      </ul>
    </div>
  </div>
</section>